.board {
  min-width: 290px;
  width: 290px;
  max-height: 100%;
  flex-basis: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.board_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board_header_title {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  gap: 5px;
  align-items: center;
}

.board_header_title span {
  color: var(--color-text-secondary);
}

.board_header_title_more {
  cursor: pointer;
  position: relative;
}

.board_dropdown {
  box-shadow: 1px 0px 20px var(--color-card-shadow);
  padding: 20px;
  width: 150px !important;
  cursor: default;
  background: var(--color-card);
  color: var(--color-text);
}
.board_dropdown p {
  border-bottom: 1px solid var(--color-bg);
  cursor: pointer;
}

.board_cards {
  background-color: var(--color-bg);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.board_add-card {
  background-color: var(--color-card);
  color: var(--color-text);
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px var(--color-card-shadow);
  width: 100%;
  text-align: center;
}
.board_add-card_edit {
  background-color: var(--color-card);
  border-radius: 10px;
  padding: 10px;
}
